<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935495206929-2p4jclu4nf7cqb77m7a0sasaapbh0lh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935495206929-2p4jclu4nf7cqb77m7a0sasaapbh0lh7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>935495206929-3fj44gvgubmifg792tm9fbioqgqgfp94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCc4EkePbeKRQLF1tR-GkxgTCUU-2jyzWI</string>
	<key>GCM_SENDER_ID</key>
	<string>935495206929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.ohranatruda2</string>
	<key>PROJECT_ID</key>
	<string>health-and-safety-102</string>
	<key>STORAGE_BUCKET</key>
	<string>health-and-safety-102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935495206929:ios:3323bc30d3be18d8b749b0</string>
</dict>
</plist>